.center-text{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px; /* set the height of the div */
    width: 900px; /* set the width of the div */
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
    font-feature-settings: "aalt";

  }
  /* ... existing styles ... */

body {
  font-family: 'Outfit', sans-serif;
  background: r-gradient(161.5deg, #33383C 100%);
  height: 100vh;
  color: #ffffff;
}

.container {
  padding: 0 8.4rem;
}

.page-header {
  background: var(--primary-color);
  padding: 1rem 0;
}

.logo a {
  color: #fff;
  text-decoration: none;
  font-size: 1.8rem;
}

ul {
  display: flex;
  gap: .6rem;
  list-style-type: none;
  background-color: transparent;
  overflow: hidden;
}

li a {
  display: inline-block;
  padding: .3rem 1rem;
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: .7px;
  border-radius: 8px;
  line-height: 2;
  transition: .3s;
}

li a.active,
li a:hover {
  color: var(--primary-color);
  background-color: #fff;
}

.container p.center-text {
  text-align: center;
  font-size: 1.2rem;
  margin-top: 2rem;
}

/* Add more styles as needed */

/* ... existing styles ... */
